@font-face {
    font-family: Segoe UI;
    src: url(./font/Segoe\ UI.woff);
}
body {
    height: 100vh;
    background-color: #121730; 
}
#root {
    width: 100vw ; 
    height: 100% ; 
    overflow: hidden auto; 
    background-color: #121730; 
    color: white;
}

#root::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    #root{
        overflow: auto auto;
    }
    #footer{
        visibility: hidden;
    }
  }